.footer{
    position: relative;
    height: 15vh;
    background-color: var(--color6);
    color: white;
    margin-top: 20px;
}
.footer p{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.context{
    display: contents;
    color: white;
}
.context a{
    text-decoration: none;
    color: white;
}
.context a :hover{
   color: black; 
}