.mainWishList{
    display:flex;
    flex-direction: row;
    width: 900px;
    flex:1;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(137, 125, 125);
    border-radius: 10px;
    height: 200px;
    margin: 20px;
    background-color: rgb(252, 252, 252);
    box-shadow: rgb(133, 139, 145) 0px 20px 30px -10px;
}
.imgSelected img{
    height: 150px;
}
/* .yes{
    color: green;
    font-size: larger;
}
.no{
    color: red;
    font-size: larger;
} */